rsudec_aplikacija_3/src/wsdl/localhost_8084/rsudec_aplikacija_2_pomoc/SoapWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://server.ws.rsudec.nwtis.foi.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://server.ws.rsudec.nwtis.foi.org/" name="SoapWS">
<types>
<xsd:schema>
<xsd:import namespace="http://server.ws.rsudec.nwtis.foi.org/" schemaLocation="http://localhost:8084/rsudec_aplikacija_2_pomoc/SoapWS?xsd=1"/>
</xsd:schema>
</types>
<message name="provjeraKorisnika">
<part name="parameters" element="tns:provjeraKorisnika"/>
</message>
<message name="provjeraKorisnikaResponse">
<part name="parameters" element="tns:provjeraKorisnikaResponse"/>
</message>
<message name="dajAerodromeNaziv">
<part name="parameters" element="tns:dajAerodromeNaziv"/>
</message>
<message name="dajAerodromeNazivResponse">
<part name="parameters" element="tns:dajAerodromeNazivResponse"/>
</message>
<message name="dajAerodromeDrzava">
<part name="parameters" element="tns:dajAerodromeDrzava"/>
</message>
<message name="dajAerodromeDrzavaResponse">
<part name="parameters" element="tns:dajAerodromeDrzavaResponse"/>
</message>
<message name="dajAvioneSAerodroma">
<part name="parameters" element="tns:dajAvioneSAerodroma"/>
</message>
<message name="dajAvioneSAerodromaResponse">
<part name="parameters" element="tns:dajAvioneSAerodromaResponse"/>
</message>
<message name="dajAerodromeUKrugu">
<part name="parameters" element="tns:dajAerodromeUKrugu"/>
</message>
<message name="dajAerodromeUKruguResponse">
<part name="parameters" element="tns:dajAerodromeUKruguResponse"/>
</message>
<message name="dajAerodromeKorisnika">
<part name="parameters" element="tns:dajAerodromeKorisnika"/>
</message>
<message name="dajAerodromeKorisnikaResponse">
<part name="parameters" element="tns:dajAerodromeKorisnikaResponse"/>
</message>
<message name="dajUdaljenostAerodroma">
<part name="parameters" element="tns:dajUdaljenostAerodroma"/>
</message>
<message name="dajUdaljenostAerodromaResponse">
<part name="parameters" element="tns:dajUdaljenostAerodromaResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="dajLetoveAviona">
<part name="parameters" element="tns:dajLetoveAviona"/>
</message>
<message name="dajLetoveAvionaResponse">
<part name="parameters" element="tns:dajLetoveAvionaResponse"/>
</message>
<portType name="SoapWS">
<operation name="provjeraKorisnika">
<input wsam:Action="http://server.ws.rsudec.nwtis.foi.org/SoapWS/provjeraKorisnikaRequest" message="tns:provjeraKorisnika"/>
<output wsam:Action="http://server.ws.rsudec.nwtis.foi.org/SoapWS/provjeraKorisnikaResponse" message="tns:provjeraKorisnikaResponse"/>
</operation>
<operation name="dajAerodromeNaziv">
<input wsam:Action="http://server.ws.rsudec.nwtis.foi.org/SoapWS/dajAerodromeNazivRequest" message="tns:dajAerodromeNaziv"/>
<output wsam:Action="http://server.ws.rsudec.nwtis.foi.org/SoapWS/dajAerodromeNazivResponse" message="tns:dajAerodromeNazivResponse"/>
</operation>
<operation name="dajAerodromeDrzava">
<input wsam:Action="http://server.ws.rsudec.nwtis.foi.org/SoapWS/dajAerodromeDrzavaRequest" message="tns:dajAerodromeDrzava"/>
<output wsam:Action="http://server.ws.rsudec.nwtis.foi.org/SoapWS/dajAerodromeDrzavaResponse" message="tns:dajAerodromeDrzavaResponse"/>
</operation>
<operation name="dajAvioneSAerodroma">
<input wsam:Action="http://server.ws.rsudec.nwtis.foi.org/SoapWS/dajAvioneSAerodromaRequest" message="tns:dajAvioneSAerodroma"/>
<output wsam:Action="http://server.ws.rsudec.nwtis.foi.org/SoapWS/dajAvioneSAerodromaResponse" message="tns:dajAvioneSAerodromaResponse"/>
</operation>
<operation name="dajAerodromeUKrugu">
<input wsam:Action="http://server.ws.rsudec.nwtis.foi.org/SoapWS/dajAerodromeUKruguRequest" message="tns:dajAerodromeUKrugu"/>
<output wsam:Action="http://server.ws.rsudec.nwtis.foi.org/SoapWS/dajAerodromeUKruguResponse" message="tns:dajAerodromeUKruguResponse"/>
</operation>
<operation name="dajAerodromeKorisnika">
<input wsam:Action="http://server.ws.rsudec.nwtis.foi.org/SoapWS/dajAerodromeKorisnikaRequest" message="tns:dajAerodromeKorisnika"/>
<output wsam:Action="http://server.ws.rsudec.nwtis.foi.org/SoapWS/dajAerodromeKorisnikaResponse" message="tns:dajAerodromeKorisnikaResponse"/>
</operation>
<operation name="dajUdaljenostAerodroma">
<input wsam:Action="http://server.ws.rsudec.nwtis.foi.org/SoapWS/dajUdaljenostAerodromaRequest" message="tns:dajUdaljenostAerodroma"/>
<output wsam:Action="http://server.ws.rsudec.nwtis.foi.org/SoapWS/dajUdaljenostAerodromaResponse" message="tns:dajUdaljenostAerodromaResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://server.ws.rsudec.nwtis.foi.org/SoapWS/helloRequest" message="tns:hello"/>
<output wsam:Action="http://server.ws.rsudec.nwtis.foi.org/SoapWS/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="dajLetoveAviona">
<input wsam:Action="http://server.ws.rsudec.nwtis.foi.org/SoapWS/dajLetoveAvionaRequest" message="tns:dajLetoveAviona"/>
<output wsam:Action="http://server.ws.rsudec.nwtis.foi.org/SoapWS/dajLetoveAvionaResponse" message="tns:dajLetoveAvionaResponse"/>
</operation>
</portType>
<binding name="SoapWSPortBinding" type="tns:SoapWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="provjeraKorisnika">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dajAerodromeNaziv">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dajAerodromeDrzava">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dajAvioneSAerodroma">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dajAerodromeUKrugu">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dajAerodromeKorisnika">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dajUdaljenostAerodroma">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dajLetoveAviona">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="SoapWS">
<port name="SoapWSPort" binding="tns:SoapWSPortBinding">
<soap:address location="http://localhost:8084/rsudec_aplikacija_2_pomoc/SoapWS"/>
</port>
</service>
</definitions>