rsudec_aplikacija_3/src/wsdl/localhost_8084/rsudec_aplikacija_2_pomoc/SoapWS.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><xs:schema xmlns:tns="http://server.ws.rsudec.nwtis.foi.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://server.ws.rsudec.nwtis.foi.org/">

<xs:element name="dajAerodromeDrzava" type="tns:dajAerodromeDrzava"/>

<xs:element name="dajAerodromeDrzavaResponse" type="tns:dajAerodromeDrzavaResponse"/>

<xs:element name="dajAerodromeKorisnika" type="tns:dajAerodromeKorisnika"/>

<xs:element name="dajAerodromeKorisnikaResponse" type="tns:dajAerodromeKorisnikaResponse"/>

<xs:element name="dajAerodromeNaziv" type="tns:dajAerodromeNaziv"/>

<xs:element name="dajAerodromeNazivResponse" type="tns:dajAerodromeNazivResponse"/>

<xs:element name="dajAerodromeUKrugu" type="tns:dajAerodromeUKrugu"/>

<xs:element name="dajAerodromeUKruguResponse" type="tns:dajAerodromeUKruguResponse"/>

<xs:element name="dajAvioneSAerodroma" type="tns:dajAvioneSAerodroma"/>

<xs:element name="dajAvioneSAerodromaResponse" type="tns:dajAvioneSAerodromaResponse"/>

<xs:element name="dajLetoveAviona" type="tns:dajLetoveAviona"/>

<xs:element name="dajLetoveAvionaResponse" type="tns:dajLetoveAvionaResponse"/>

<xs:element name="dajUdaljenostAerodroma" type="tns:dajUdaljenostAerodroma"/>

<xs:element name="dajUdaljenostAerodromaResponse" type="tns:dajUdaljenostAerodromaResponse"/>

<xs:element name="hello" type="tns:hello"/>

<xs:element name="helloResponse" type="tns:helloResponse"/>

<xs:element name="provjeraKorisnika" type="tns:provjeraKorisnika"/>

<xs:element name="provjeraKorisnikaResponse" type="tns:provjeraKorisnikaResponse"/>

<xs:complexType name="dajAerodromeDrzava">
<xs:sequence>
<xs:element name="korisnik" type="xs:string" minOccurs="0"/>
<xs:element name="lozinka" type="xs:string" minOccurs="0"/>
<xs:element name="drzava" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dajAerodromeDrzavaResponse">
<xs:sequence>
<xs:element name="return" type="tns:aerodrom" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="aerodrom">
<xs:sequence>
<xs:element name="drzava" type="xs:string" minOccurs="0"/>
<xs:element name="icao" type="xs:string" minOccurs="0"/>
<xs:element name="lokacija" type="tns:lokacija" minOccurs="0"/>
<xs:element name="naziv" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="lokacija">
<xs:sequence>
<xs:element name="latitude" type="xs:string" minOccurs="0"/>
<xs:element name="longitude" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dajAerodromeUKrugu">
<xs:sequence>
<xs:element name="korisnik" type="xs:string" minOccurs="0"/>
<xs:element name="lozinka" type="xs:string" minOccurs="0"/>
<xs:element name="icao" type="xs:string" minOccurs="0"/>
<xs:element name="min" type="xs:string" minOccurs="0"/>
<xs:element name="max" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dajAerodromeUKruguResponse">
<xs:sequence>
<xs:element name="return" type="tns:aerodrom" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dajAerodromeKorisnika">
<xs:sequence>
<xs:element name="korisnik" type="xs:string" minOccurs="0"/>
<xs:element name="lozinka" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dajAerodromeKorisnikaResponse">
<xs:sequence>
<xs:element name="return" type="tns:aerodrom" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="provjeraKorisnika">
<xs:sequence>
<xs:element name="korisnik" type="xs:string" minOccurs="0"/>
<xs:element name="lozinka" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="provjeraKorisnikaResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dajUdaljenostAerodroma">
<xs:sequence>
<xs:element name="korisnik" type="xs:string" minOccurs="0"/>
<xs:element name="lozinka" type="xs:string" minOccurs="0"/>
<xs:element name="icao1" type="xs:string" minOccurs="0"/>
<xs:element name="icao2" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dajUdaljenostAerodromaResponse">
<xs:sequence>
<xs:element name="return" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dajAvioneSAerodroma">
<xs:sequence>
<xs:element name="korisnik" type="xs:string" minOccurs="0"/>
<xs:element name="lozinka" type="xs:string" minOccurs="0"/>
<xs:element name="icao" type="xs:string" minOccurs="0"/>
<xs:element name="vrijemeOd" type="xs:long"/>
<xs:element name="vrijemeDo" type="xs:long"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dajAvioneSAerodromaResponse">
<xs:sequence>
<xs:element name="return" type="tns:avionLeti" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="avionLeti">
<xs:sequence>
<xs:element name="arrivalAirportCandidatesCount" type="xs:int"/>
<xs:element name="callsign" type="xs:string" minOccurs="0"/>
<xs:element name="departureAirportCandidatesCount" type="xs:int"/>
<xs:element name="estArrivalAirport" type="xs:string" minOccurs="0"/>
<xs:element name="estArrivalAirportHorizDistance" type="xs:int"/>
<xs:element name="estArrivalAirportVertDistance" type="xs:int"/>
<xs:element name="estDepartureAirport" type="xs:string" minOccurs="0"/>
<xs:element name="estDepartureAirportHorizDistance" type="xs:int"/>
<xs:element name="estDepartureAirportVertDistance" type="xs:int"/>
<xs:element name="firstSeen" type="xs:int"/>
<xs:element name="icao24" type="xs:string" minOccurs="0"/>
<xs:element name="lastSeen" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="hello">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="helloResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dajLetoveAviona">
<xs:sequence>
<xs:element name="korisnik" type="xs:string" minOccurs="0"/>
<xs:element name="lozinka" type="xs:string" minOccurs="0"/>
<xs:element name="icao24" type="xs:string" minOccurs="0"/>
<xs:element name="vrijemeOd" type="xs:long"/>
<xs:element name="vrijemeDo" type="xs:long"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dajLetoveAvionaResponse">
<xs:sequence>
<xs:element name="return" type="tns:avionLeti" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dajAerodromeNaziv">
<xs:sequence>
<xs:element name="korisnik" type="xs:string" minOccurs="0"/>
<xs:element name="lozinka" type="xs:string" minOccurs="0"/>
<xs:element name="naziv" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dajAerodromeNazivResponse">
<xs:sequence>
<xs:element name="return" type="tns:aerodrom" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:schema>